GITHUB_TOKEN=your_token
GITHUB_USERNAME=your_username






after doing all changes, 
hit run deploy to generate build folder and publish it to github 
run git add . -f to save all files to commit
git commit -m "" to commit 