.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.achievement-main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.achievement-header {
  margin-bottom: 20px;
}

.heading {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.subTitle {
  font-size: 2.2em;
  margin-bottom: 20px;
  /* text-align: center; */
}

.achievement-cards-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievement-image {
  width: 100%;
  height: 400px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the entire area */
  border-radius: 10px;
}

.achievement-description {
  text-align: center;
  margin-top: 10px;
}

.achievement-description h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.achievement-description p {
  font-size: 1em;
  color: #666666;
}

.achievement-description .achievement-link {
  color: inherit;
  text-decoration: none;
}

.achievement-description .achievement-link:hover {
  text-decoration: underline;
}
