@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@300;400;600&display=swap");

.experience-heading {
  font-size: 2.8em;
  margin-bottom: 30px;
  /* text-align: center; */
  font-family: "Roboto", sans-serif;
}

.experience-card {
  margin: 20px 0;
  padding: 25px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.experience-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.experience-logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border: 2px solid #e0e0e0;
  padding: 5px;
  border-radius: 50%;
  background-color: #f9f9f9;
}

.experience-info {
  flex: 1;
}

.experience-role {
  font-size: 1.4em;
  font-weight: 500;
  color: #333333;
  margin-bottom: 5px;
}

.experience-company a {
  color: #2575fc;
  font-weight: 500;
  text-decoration: none;
}

.experience-company a:hover {
  text-decoration: underline;
}

.experience-location,
.experience-duration {
  font-size: 0.95em;
  color: #777777;
}

.experience-description {
  font-size: 1.05em;
  color: #555555;
  line-height: 1.6;
}

.experience-description ul {
  padding-left: 20px;
  list-style: disc;
}

.experience-description ul li {
  margin-bottom: 10px;
}
