.experience-heading {
  font-size: 2.5em;
  margin-bottom: 20px;
  /* text-align: center; */
}

.experience-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.experience-left {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.experience-right {
  flex: 2;
}

.experience-image {
  width: 100%;
  height: 400px; /* Set a fixed height */
  /* Ensure the image covers the entire area */
  border-radius: 10px;
}
